/*
  Author: Kaveshan Kistan
  Project: Betting Entertainment Technology Assessment
 */

 body {
  background: #1d1d1d;
}

/* ---------------------------------------------------
  CONTENT STYLES
----------------------------------------------------- */

h2 { 
  color: #d73938; 
}

.btn-info { 
  background-color: #414344;
  border-color: #414344;
}

.btn-info:hover { 
  color: #d73938;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

p {
  color: #999999;
}

/* ---------------------------------------------------
  SIDEBAR STYLES
----------------------------------------------------- */

#sidebar { 
  background: #151515;
  color: #555555;
}

#dismiss {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

#dismiss:hover {
  color: #d73938;
  border-color: #FFFFFF;
  background: #FFFFFF;
}

#sidebar .sidebar-header {
  color: #FFFFFF;
}

#sidebar ul li:last-child {
  border-bottom: 1px solid #202121;
}

#sidebar ul li {
  background: #333333;
  border-top: 1px solid #202121;
  color: #cccccc;
}

#sidebar ul li a {
  color: #cccccc;
}

#sidebar ul li a:hover  {
  background: #262626;
  color: #d73938;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #d73938;
  background: #262626;
}

/* ---------------------------------------------------
  MODAL STYLES
----------------------------------------------------- */

.modal-content {
  background: #262626;
  color: #FFFFFF;
}

.modal-content .modal-header {
  background: #151515;
  border-bottom: 1px solid #737373;
}

.modal-content .btn {
  background: #414344;
  color: #FFFFFF;
  border: 1px solid #414344;
}

.modal-content .btn:hover {
  background: #FFFFFF;
  color: #d73938;
  border: 1px solid #FFFFFF;
}

.modal-content .form-control, .modal-content .custom-file-input  {
  background: #555555;
  border: 1px solid #737373;
  color: #f2f2f2;
}

.modal-content .custom-file-label {
  background: #555555;
  border: 1px solid #737373;
  color: #f2f2f2;
}

.modal-content .form-control:hover, .custom-file:hover .custom-file-label {
  border: 1px solid #d73938;
  cursor: pointer;
}

.modal-footer {
  border-top: 1px solid #737373;
}

.modal-content .close {
  color: #FFFFFF;
  text-shadow: none;
}
.modal-content .close:hover { 
  color: #d73938;
}